.red{
    height: 150px;
    width: 550px;
    background-color: #ef2729;
}
.green{
    height: 150px;
    width: 550px;
    background-color:#009f47; 
}
.star{
    color: #ffde00;
    font-size: 130px;
    margin-left: 220px;
}
.border{
    border: solid black;
    width: 550px;
}

